src/META-INF/wsdl/localhost_8080/recu_diaz_9a/recu_diaz_web_operaciones_9a.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><xs:schema xmlns:tns="http://diaz_recu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://diaz_recu/">

<xs:element name="calcularMasa" type="tns:calcularMasa"/>

<xs:element name="calcularMasaResponse" type="tns:calcularMasaResponse"/>

<xs:complexType name="calcularMasa">
<xs:sequence>
<xs:element name="densidad" type="xs:double"/>
<xs:element name="volumen" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcularMasaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>